@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Roboto-Bold';
    src: url('../public/uploads/Roboto-Bold.ttf');
}


/* .my-font{
    font-family: var(--font-family)
} */